.consultationContainer {
    padding: 1.3rem;
    background-color: #1B2C4F;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    position: relative;
}

.content {}

.consultationHeader {}

.consultationHeader h5 {
    margin-bottom: 1.45rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.consultationHeader h4 {
    margin-bottom: .25rem;
    font-weight: 500;
    font-size: 14px;
}

.growthTag {
    background-color: #2C3A58;
    padding: .5rem;
    border-radius: 10px;
    display: flex;
    gap: .5rem;
}

.progressCircle {
    width: 68px;
    height: 66px;
    margin-top: 2.25rem;
    margin-right: 1rem;
}

.progressCircle img {
    width: 100%;
}

.optionIcon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 1.5rem;
    top: 1.25rem;
}

.optionIcon img {
    width: 100%;
}