.item3 {
    background-color: #111729;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.userProfileContainer {
    width: 110px;
    height: 110px;
    background-color: #FCD5D8;
    border-radius: 50%;
    margin-top: auto;
}

.userProfileContainer img {
    width: 100%;
}

.docName {
    font-style: 'Manrope';
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-top: .75rem;
    margin-bottom: .5rem;
}

.docFieldName {
    color: #FFFFFF;
    font-style: 'Inter';
    font-size: 1rem;
}

.activePatientsContainer {
    width: 100%;
    height: auto;
    font-family: 'Manrope';
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #1C2A4E;
    border-radius: 20px;
    padding: .5rem 1.5rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    margin-top: auto;
}

.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    left: 15px;
    margin-left: -12px;
    z-index: 2;
    border: 1px solid #000;

}

.avatars {
    direction: ltr;
    /* This is to get the stack with left on top */
    text-align: right;
    /* Now need to explitly align left */
    padding-left: 25px;
    /* Same value as the negative margin */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}